@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow-y: overlay;
}
body {
  /* overflow-x: hidden; */
  color: #828282;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
  /* font-family: 'Poppins Sans', sans-serif; */
  background-color: #1a1a1a;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
/* .monaco-editor {
  padding-top: 15px;
} */
.monaco-editor,
.monaco-editor .margin,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: #151515 !important;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
.__react_component_tooltip {
  background-color: #fff !important;
  color: #182338 !important;
  opacity: 0 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  padding: 2px 8px !important;
  /* margin-top: -5px; */
  transition: opacity 0.3s ease-in-out !important;
  visibility: hidden;
}

.__react_component_tooltip.show {
  visibility: visible;
  /* margin-top: 0px; */
  opacity: 1 !important;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
.animate {
  @apply transition-all duration-100 ease-out;
}
.container {
  @apply mx-auto;
  max-width: 92rem !important;
}
.will-change {
  will-change: transform;
}

.input-field:focus ~ #form-error {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3a3a3a;
}
::-webkit-scrollbar-thumb {
  background-color: #302f2f;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
