@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  @apply transition-all duration-75 ease-out;
}

.container {
  @apply mx-auto;
  max-width: 80rem !important;
}
.will-change {
  will-change: transform;
}
.scrollbar-none {
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.vote-shadow {
  box-shadow: 0 1px 3px 0 #0f1419;
}
body {
  overflow-x: hidden;
  color: #eff3f6;
  font-family: 'Montserrat', sans-serif;
  background-color: #0f1419;
}
.__react_component_tooltip {
  background-color: #fff !important;
  color: #182338 !important;
  opacity: 0 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  padding: 2px 8px !important;
  /* margin-top: -5px; */
  transition: opacity 0.3s ease-in-out !important;
  visibility: hidden;
}

.__react_component_tooltip.show {
  visibility: visible;
  /* margin-top: 0px; */
  opacity: 1 !important;
}
