@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  @apply transition-all duration-75 ease-out;
}

.container {
  @apply mx-auto;
  max-width: 80rem !important;
}
.will-change {
  will-change: transform;
}
.scrollbar-none {
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.vote-shadow {
  box-shadow: 0 1px 3px 0 #0f1419;
}
body {
  overflow-x: hidden;
  color: #eff3f6;
  font-family: 'Montserrat', sans-serif;
  background-color: #0f1419;
}
